<div id="scorecard" >
  
  <%= error_messages_for :item %>
 
 <h3>You've earned <span id="points" class="points"><%= @scorecard.score %> points</span> so far!</h3><br />
 
</div><!--socrecard-->