<div id="finish">

<h2>Congratulations!</h2>
<h3>You earned <span id="points" class="points"><%= @scorecard.score %> points</span> out of a possible 202. Did you notice that we scored the quiz using Fibonacci numbers? Clever, eh?</h3>

Below are the questions and our feedback based on your answers. You can return to take the test again as many times as you like, to see how well you're retaining what you learn as you work through the material.

<ul>
      <% for item in @scorecard.items  %>
      <li><strong><%=h item.abody %> | <%=h item.truthiness %></strong><br /> <em><%=h item.feedback %></em></li>
      <% end %>
</ul>


</div>
