<div id="welcome">
  <h2>Story Sizing: <br />
    Agile Estimation Tools &amp; Techniques<br /> for Project Managers</h2>
<%= image_tag('/images/elephant.png') %>
<h3>Ready to test your agility?
</h3>
<br />
 <%= link_to image_tag('/images/starthere.png'), question_path(@question.id) %><!--TODO-->
 
 </div>