body {

  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}



#container {
  background-color: #fff;

  margin-right: auto;
  margin-left: auto;
  float:none;

}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/****** my css *****/



#header {
background: transparent url(/images/banner70.png) top center no-repeat;
  height: 70px;
}

#header h1 {
  margin-left: -2000px;
}

h2, h3 {
  color: #666; 
  font-family: Georgia, serif; 
  font-style: italic;
  line-height: 1.2em;
}

h2 {
    font-weight: bold;
  }
  
h3 {
  font-style: normal;
  margin: .5em 0 0 0;

}

p {
  margin: 0 0 1em;
}

#sidebar {
  padding: 20px;
  border-right : thin solid #d2d2d2;
}

#quiz_sidebar p {
  font-family: trebuchet;
  min-height: 600px;
}


table {
  margin: 0 20px 10px;
}

td {
  border-bottom: thin solid #d2d2d2;
  padding:  0 20px 0;
}

td h3 {
  font-size: 1.3em;
}

#content {
  min-height: 600px;
}

#quiz_sidebar {
  border-right: thin solid #d2d2d2;
  padding: 0 20px 0 20px;
  text-align:center;
}

#faq_page .answer {
  margin: 10px;
  line-height: 1.3em;
}

.points {
  color: #ff0000;
}

#welcome {
  text-align: center;
}

#finish h2 {
  text-align: center;
}

#finish ul {

  margin: 20px 200px;
}
#finish li {
    padding: 20px ;
  }


#footer {
  text-align: center;
  height: 40px;
 /* border-top: thin solid #ddd; */
  font-size: 1.2em;
}

#footer a:link {
  color: #666;
  text-decoration:none;
}
#footer a:visited {
  color: #666;
  text-decoration:none;
}



#usernav {
  border-top: thin solid #ddd;
    text-align: center;
    margin-top: 20px;
}

.question_nav {
  text-align: center;
}


.submit_question {

  float: right;
}


/*

input  {
  background: #ff0000;
  font-size: 9px;
  display: inline;
  border: none;
  color: #fff;
  padding: 2px;
}
*/

.side_image {
  display: block;
  margin: 0 auto;
}

#result {
  text-align:center;
}

/*** admin area stylings ***/

#questions li {
  background: #ddd;
  line-height: 1em;
  padding: 8px;
  margin: 2px;
}

#questions li p {
  margin: 0;
}

#questions h2 {
  margin: 0;
}



/*** page stylings ***/



.pagesidebar {
  border-right: thin solid #ddd;
  padding-right: 20px;
  min-height: 400px;
}

.page ul {
  list-style-type: none;
margin-left: 14px;
font-weight:bold;
font-size: 1.3em;


}

.page li {
  cursor:pointer;
  font-family: arial, sans-serif;
  float: left;
  padding: 0 10px;
  margin: 0 5px;
  color: #666;
}

.page p {
  font-size: .9em;
}

#done {
  display:block;
  margin: 0 auto;
  cursor:pointer;
}

#rightanswer {
  margin-top: 20px;
}

.footer {
  text-align: center;
  
}

.page object {
  display:block;
  margin: 0 auto 20px auto;
  
}

.photoleft {
  float:left;
  margin: 0 20px 20px;
}

#simplestars ul {
  list-style-type: none;
  margin: 0 auto;
}

#simplestars li {
  cursor:move;
  border: none;
  padding: 0;
  margin: 0;
  float: left;
}
#simplestars img{
  max-width: 90px;
}

/* pagination */
 
.flickr_pagination {
  font-weight: bold;
  text-align: center;
  padding: .3em; }
  .flickr_pagination a, .flickr_pagination span {
    padding: .2em .5em; }
  .flickr_pagination span.disabled {
    color: #AAA; }
  .flickr_pagination span.current {
    font-weight: bold;
    background: #666;
    border: 2px solid #666;
    color: #FFf; }
  .flickr_pagination a {
    border: 2px solid #666;
    color: #666;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #666;
      background: #ff0000;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .flickr_pagination .prev_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .prev_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
    
    
    
    
