<div class="pagesidebar span-7">
    <h2><%=h @page.title %></h2>
    <h3><%= render :inline => @page.body %></h3>

    
  </div>
  <div class="pagebody span-16 last">

<%= render :inline => @page.visual %>



  </div>
  <hr />